{{ $class := .Get "class" }}
<div class="full-width-image {{ with $class }}{{ . }}{{ end }}">
  {{ $src := .Get "src" }}
  {{ $alt := .Get "alt" | default "Full width image" }}
  {{ $title := .Get "title" }}
  {{ $imgClass := .Get "imgClass" }}
  {{ $width := .Get "width" }}
  {{ $height := .Get "height" }}


  <img
    src="{{ $src }}"
    alt="{{ $alt }}"
    {{ with $title }}title="{{ . }}"{{ end }}
    {{ with $width }}width="{{ . }}"{{ end }}
    {{ with $height }}height="{{ . }}"{{ end }}
    {{ with $imgClass }}class="{{ . }}"{{ end }}
    loading="lazy"
  />
</div>
