{{/* DO NOT FORMAT THIS FILE! Formatting may break the template functionality. */}}
{{ $data := dict }}
{{ $p := "data/downloads-latest.json" }}
{{ $jsonResource := resources.Get $p }}
{{ if $jsonResource }}
  {{ $data := $jsonResource.Content | transform.Unmarshal }}

{{ range $item := $data }}
- title: {{ $item.name }}
  items:
  {{ range $version := $item.versions }}
    - title: {{ $item.name }} {{ $version.name }} Series
      link: {{ $version.link }}
      items:
    {{- if $version.subversions -}}
      {{ range $subversion := $version.subversions }}
        - title: {{ $item.name }} {{ $subversion.name }}
          link: {{ $subversion.link }}
      {{ end }}
    {{- else -}}
      {{ range $file := $version.files }}
        - title: {{ $file.name }}
          link: {{ $file.url }}
      {{ end }}
    {{- end -}}
  {{ end }}
{{ end }}


{{ else }}
  {{ errorf "Unable to get resource %q" $p }}
{{ end }}