{{ $content := .Inner }}
{{ $alt := .Get "imageAlt" | default "" }}
{{ $imageSize := .Get "imageSize" | default "" }}
{{ $label := .Get "label" | default "" }}
{{ $media := .Get "media" | default "" }}
{{ $mediaPosition := .Get "mediaPosition" | default "left" }}
{{ $mobileMediaPosition := .Get "mobileMediaPosition" | default "left" }}
{{ $title := .Get "title" | default "" }}
{{ $titleLevel := .Get "titleLevel" | default "2" }}
{{ $class := .Get "class" | default "" }}
{{ $animate := .Get "animate" | default "false" }}

{{ partial "media-block.html" (dict
  "Content" $content
  "alt" $alt
  "ImageSize" $imageSize
  "Label" $label
  "Media" $media
  "MediaPosition" $mediaPosition
  "MobileMediaPosition" $mobileMediaPosition
  "Site" .Site
  "Title" $title
  "TitleLevel" $titleLevel
  "Class" $class
  "Animate" $animate
  )
}}
