{{- $dataKey := .Get "data" -}}
{{- if not $dataKey -}}
  {{- errorf "The pricing shortcode requires a data parameter, for example {{< pricing data=\"tickets-2026\" >}}." -}}
{{- end -}}
{{- $ticketData := index .Site.Data $dataKey -}}
{{- if not $ticketData -}}
  {{- errorf "The pricing shortcode could not find data/%s.yaml." $dataKey -}}
{{- end -}}
{{- $idSuffix := $dataKey | anchorize -}}

<section id="{{ .Get "id" | default "pricing" }}" class="ticket-pricing">
  <div class="container">
    <div>
      <input type="radio" id="inPerson-{{ $idSuffix }}" name="ticketType-{{ $idSuffix }}" class="toggle-input ticket-toggle-in-person" checked />
      <label for="inPerson-{{ $idSuffix }}" class="toggle-label btn">In-Person</label>

      <input type="radio" id="virtual-{{ $idSuffix }}" name="ticketType-{{ $idSuffix }}" class="toggle-input ticket-toggle-virtual" />
      <label for="virtual-{{ $idSuffix }}" class="toggle-label btn">Virtual</label>
    </div>

    <div class="ticket-groups">
      <!-- In-Person Tickets -->
      <div class="ticket-group ticket-group-in-person">
        {{ range $ticketData.tickets.inPerson }}
          {{ if (and (isset . "enabled") (not .enabled)) }}
            {{ partial "card.html" (dict
              "title" .title
              "description" .description
              "class" "ticket-card"
            ) }}
          {{ else }}
            {{ partial "card.html" (dict
              "title" .title
              "description" .description
              "link" .link
              "linkText" .linkText
              "class" "ticket-card"
            ) }}
          {{ end }}
        {{ end }}
      </div>

      <!-- Virtual Tickets -->
      <div class="ticket-group ticket-group-virtual">
        {{ range $ticketData.tickets.virtual }}
          {{ if (and (isset . "enabled") (not .enabled)) }}
            {{ partial "card.html" (dict
              "title" .title
              "description" .description
              "class" "ticket-card"
            ) }}
          {{ else }}
            {{ partial "card.html" (dict
              "title" .title
              "description" .description
              "link" .link
              "linkText" .linkText
              "class" "ticket-card"
            ) }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
