<section id="pricing" class="ticket-pricing">
  <div class="container">
    <div>
      <input type="radio" id="inPerson" name="ticketType" class="toggle-input" checked />
      <label for="inPerson" class="toggle-label btn">In-Person</label>

      <input type="radio" id="virtual" name="ticketType" class="toggle-input" />
      <label for="virtual" class="toggle-label btn">Virtual</label>
    </div>

    <div class="ticket-groups">
      <!-- In-Person Tickets -->
      <div id="inPersonTickets" class="ticket-group">
        {{ range .Site.Data.tickets.tickets.inPerson }}
          {{ if (and (isset . "enabled") (not .enabled)) }}
            {{ partial "card.html" (dict
              "title" .title
              "description" .description
              "class" "ticket-card"
            ) }}
          {{ else }}
            {{ partial "card.html" (dict
              "title" .title
              "description" .description
              "link" .link
              "linkText" .linkText
              "class" "ticket-card"
            ) }}
          {{ end }}
        {{ end }}
      </div>

      <!-- Virtual Tickets -->
      <div id="virtualTickets" class="ticket-group">
        {{ range .Site.Data.tickets.tickets.virtual }}
          {{ if (and (isset . "enabled") (not .enabled)) }}
            {{ partial "card.html" (dict
              "title" .title
              "description" .description
              "class" "ticket-card"
            ) }}
          {{ else }}
            {{ partial "card.html" (dict
              "title" .title
              "description" .description
              "link" .link
              "linkText" .linkText
              "class" "ticket-card"
            ) }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
