{{ if .Params.aside }}
  <aside class="page-aside">
    {{ range .Params.aside }}
      {{ if eq .type "resource" }}
        <div class="box-resources">
          <h3 class="box-resources__title">{{ if .name }}{{ .name }}{{ else }}Resources{{ end }}</h3>
          <ul>
            {{ range .items }}
              {{ if .title }}
                <li>
                  <h4>{{ .title }}</h4>
                  <ul>
                    {{ range .items }}
                      {{ partial "layout/link-item.html" . }}
                    {{ end }}
                  </ul>
                </li>
              {{ else }}
                {{ partial "layout/link-item.html" . }}
              {{ end }}
            {{ end }}
          </ul>
        </div>
      {{ else if eq .type "members-list" }}
        <div class="box-members">
          <h3 class="box-members__title">{{ .name | markdownify }}</h3>
          <ul>
            {{ range .items }}
              <li>
                {{ if .icon }}<i class="fa {{ .icon }}"></i>{{ end }}
                {{ .name | markdownify }}
              </li>
            {{ end }}
          </ul>
        </div>
      {{ else if eq .type "custom" }}
        <div class="box-custom">
          {{ .content | safeHTML }}
        </div>
      {{ end }}
    {{ end }}
  </aside>
{{ end }}
