<div class="carousel-container {{ with .class }}{{ . }}{{ end }}">
  <div class="carousel-content">
    <div class="carousel-content-inner">
      <div class="carousel">
        {{ partial "carousel-items.html" (dict "items" .content) }}
      </div>
    </div>
    <div class="carousel-buttons">
      <button class="carousel-button prev">
        <i class="fas fa-arrow-left"></i>
      </button>
      <button class="carousel-button next">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
