<div class="latest-news" data-max-cards="10">
  <div class="container">
    <h2>
      Latest <strong>news</strong>
      <a href="/blog" class="title-external-link">Read all news <i class="fas fa-arrow-right"></i></a>
    </h2>
  </div>
  <script type="text/html" class="latest-news-template">
    <div class="carousel-item card card--news">
      <a href="${_.url}" class="card__link" aria-hidden="true" tabindex="-1"></a>
      <div class="card__label">${_.title}</div>
      ${_.tags ? `
      <div class="card__date">${XenSiteUtils.formatDate(_.published_at)}</div>
      <div class="card__tags">
        ${_.tags.map(tag => `<span class="card__tag"><a href="${tag.url}" target="_blank">${tag.name}</a></span
        >`).join(" ")}
      </div>
      ` : ""}
      <p class="card__content">${_.excerpt}</p>
      ${_.authors ? `
      <div class="card__author">
        by ${_.authors.map(author => `<a href="${author.url}" target="_blank">${author.name}</a>`).join(", ")}
      </div>
      ` : ""}
      <div class="card__actions">
        <a href="${_.url}" class="join-button btn btn-tertiary" aria-label="Read more about ${_.title}">
          Read more
          <i class="fas fa-arrow-up-right-from-square"></i>
        </a>
      </div>
    </div>
  </script>

  <div class="carousel-container carousel-container-width">
    <div class="carousel-content">
      <div class="carousel latest-news_container news-container"></div>
      <div class="carousel-buttons">
        <button class="carousel-button prev">
          <i class="fas fa-arrow-left"></i>
        </button>
        <button class="carousel-button next">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
