{{ $title := .Title }}
{{ $title := $title | replaceRE "\\*\\*(.+?)\\*\\*" "<strong>$1</strong>" }}
{{ $title := $title | replaceRE "\\*(.+?)\\*" "<em>$1</em>" }}
{{ $titleLevel := .TitleLevel | default "2" }}
{{ $class := .Class | default "" }}

<div
  class="media-block {{ if eq .MediaPosition "left" }} 
    media-block--left
  {{ else }}
    media-block--right
  {{ end }}
  {{ if eq .MobileMediaPosition "top" }}
    media-block--mobile-top
  {{ end }}
  {{ if eq .MobileMediaPosition "bottom" }}
    media-block--mobile-bottom
  {{ end }}
    {{ $class }}
  "
  
  {{ if eq .Animate "true" }}
    data-animate="true"
  {{ end }}
>
  <div class="media-block__content">
    {{ if .Label }}
      <div class="media-block__label">{{ .Label }}</div>
    {{ end }}
    {{ if .Title }}
      <h{{ $titleLevel }} class="media-block__title {{ .TitleClass }}">{{ $title | safeHTML }}</h{{ $titleLevel }}>
    {{ end }}
    <div class="media-block__text">
      {{ .Content  | safeHTML }}
    </div>
  </div>
  <div class="media-block__media">
    {{ if .Media }}
      {{ $trimmedMedia := trim .Media " \n\r\t" }}
      {{ $lowerMedia := lower $trimmedMedia }}
      {{ if or (findRE "\\.png$|\\.jpg$|\\.jpeg$|\\.avif$|\\.webp$|\\.gif$|\\.svg$" $lowerMedia) }}
        <img
          src="{{ $trimmedMedia }}"
          alt="{{ .alt | default "Media image" }}"
          {{ if .ImageSize }}width="{{ .ImageSize }}" height="auto"{{ end }}
          loading="lazy"
        />
      {{ else if findRE "\\.mp4$" $lowerMedia }}
        {{ partial "video-player.html" (dict "url" $trimmedMedia "alt" .alt) }}
      {{ else if in $lowerMedia "youtube.com" }}
        {{ partial "youtube.html" (dict "src" $trimmedMedia "title" .alt) }}
      {{ else if in $lowerMedia "slideshare.net" }}
        {{ partial "slideshare.html" (dict "url" $trimmedMedia "title" .alt) }}
      {{ else }}
        {{ if hasPrefix $trimmedMedia "{{<" }}
          {{ $trimmedMedia | markdownify | replaceRE "</?pre>" "" | replaceRE "</?code>" "" | safeHTML }}
        {{ else }}
          {{ $trimmedMedia | safeHTML }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</div>
