<ul class="socials {{ .class | default "" }}">
  <li>
    <a href="https://www.twitter.com/xen_org" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-twitter"></i>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/company/xen-project" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/@Xen_Project" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-youtube"></i>
    </a>
  </li>
  <li>
    <a href="https://comments.xenproject.org" target="_blank" rel="noopener noreferrer">
      <i class="fas fa-comments"></i>
    </a>
  </li>
</ul>
