{{ define "partials/link-with-arrow" }}

{{ if .link}}
<a href="{{ .link }}">{{ .title | markdownify }} <i class="fas fa-arrow-right"></i></a>
{{ else }}
<span>{{ .title | markdownify }}</span>
{{ end }}
{{ if .items }}
<ul>
  {{ range .items }}
  <li>
    {{ if reflect.IsMap . }}
      {{ if and .link }}
          {{ template "partials/link-with-arrow" . }}
      {{ end }}
    {{ else }}
      {{ . | markdownify }}
    {{ end }}
  </li>
  {{ end }}
</ul>
{{ end }}
{{ end }}

{{ $headerLevel := .headerLevel  }}

<!-- Le reste du contenu du fichier suit ici -->
<div class="vertical-lists" {{ if .cols }}style="--cols:{{ .cols }};"{{ end }}>
  {{ range .lists }}
    <div class="list-column {{ with $.colClass }}{{ . }}{{ end }}">
      {{ if $headerLevel }}
        <h{{ $headerLevel }}>{{ .title | markdownify }}</h{{ $headerLevel }}>
      {{ else }}
        <h2>{{ .title | markdownify }}</h2>
      {{ end }}
     
      {{ if .items }}
        <ul>
          {{ range .items }}
            <li>
              {{ if reflect.IsMap . }}
                {{ template "partials/link-with-arrow" . }}
                {{ .text | markdownify }}
              {{ else }}
                {{ . | markdownify }}
              {{ end }}
            </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ if .text }}
        {{ if findRE "<[^>]*>" .text }}
          {{ .text | safeHTML }}
        {{ else }}
          {{ .text | markdownify }}
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
</div>
