{{- $src := .src -}}
{{- $id := .id -}}
{{- $title := .title | default "YouTube video player" -}}
{{- $class := .class | default "" -}}

{{- if not $src -}}
  {{- if $id -}}
    {{- $src = printf "https://www.youtube.com/embed/%s" $id -}}
  {{- else -}}
    {{- errorf "YouTube partial: either 'src' or 'id' parameter must be provided" -}}
  {{- end -}}
{{- end -}}

{{ if hasPrefix $src "https://www.youtube.com/watch" }}
  <div class="youtube-warning">
    <strong>Warning:</strong> It looks like you provided a standard YouTube URL.
    For proper embedding, please use an embed URL instead. Example:
    <code>https://www.youtube.com/embed/VIDEO_ID</code>
  </div>
{{ else }}
  <div class="youtube-video-container {{ $class }}">
    <div class="video-container">
      <iframe
        src="{{ $src }}"
        title="{{ $title }}"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>
{{ end }}
