@use "sass:math";

.carousel-container {
  --content-padding: 12px;
  --max-width: none;
  --gap: 40px;
  --cols: 1;
  --items-before: 1;
  --items-after: 1;
  --total-cols: calc(var(--cols) + var(--items-before) + var(--items-after));
  --item-width: calc((100% - (var(--total-cols) - 1) * var(--gap)) / var(--total-cols));
  --mask-size: var(--item-width);
  --negative-margin-multiplier: 3;
  --carousel-negative-margin: calc((var(--item-width) + var(--gap)) * -1 * var(--negative-margin-multiplier));
  --color-background: var(--color-surface-secondary);
  --item-shadow-height: 26px;
  overflow: hidden;

  @include phone {
    //--cols: 2;
  }

  @include tablet {
    --cols: 2;
    --max-width: calc(var(--container-width) + var(--content-padding) * 2);
    --content-padding: 80px;
    --negative-margin-multiplier: 1.66;
  }

  @include tablet-up {
    --cols: 3;
  }

  @include desktop {
    --cols: 3;
  }

  .carousel-content {
    position: relative;
    max-width: var(--max-width);
    padding-left: var(--content-padding);
    padding-right: var(--content-padding);
    margin: 0 auto;
  }

  .carousel-item--clone {
    visibility: hidden;
    pointer-events: none;
  }

  .carousel-item {
    scroll-snap-align: start;

    &--hidden {
      pointer-events: none;
    }
  }

  .carousel-content {
    width: 100%;
    position: relative;
  }

  .carousel-content-inner {
    --opacity: 0.1;
    --mask-image: linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, var(--opacity)) calc(var(--mask-size) - 2%),
      black calc(var(--mask-size) + 5%),
      black calc(100% - var(--mask-size) - 5%),
      rgba(0, 0, 0, var(--opacity)) calc(100% - var(--mask-size) + 2%),
      transparent
    );
    mask-image: var(--mask-image);
    -webkit-mask-image: var(--mask-image);
    margin-left: var(--carousel-negative-margin);
    margin-right: var(--carousel-negative-margin);
    overflow: hidden;
  }

  .carousel {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    padding: 0 0 var(--item-shadow-height);

    &::-webkit-scrollbar {
      display: none;
    }

    html.has-js & {
      flex-wrap: nowrap;
    }

    &-item {
      width: var(--item-width);
      min-width: var(--item-width);
      max-width: var(--item-width);
      flex: 1 1 var(--item-width);
    }
  }

  .carousel-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    //margin-top: calc(var(--item-shadow-height) * -1);

    @include tablet {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      width: 100%;
      max-width: none;
      left: 0;
      padding: 0 calc(var(--content-padding) - 50px);
    }
  }

  .carousel-button {
    background-color: var(--color-action-fill);
    color: var(--color-action-on-fill);
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2.25rem;
    height: 2.25rem;
    font-size: 1.25rem;
  }
}
