.news-container {
  --cols: 1;
  --gap: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--gap);

  --col-width: calc((100% / var(--cols)) - var(--gap));
  > * {
    flex: 1 1 var(--col-width);
  }

  @include tablet {
    --cols: 2;
  }

  @include desktop {
    --cols: 3;
  }
}
