.box-members {
  background-color: #fff;
  border-radius: 16px;
  padding: var(--sp-md);
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: var(--sp-xs) 0;
    }
  }
}
