.latest-news_container {
  .card--news .card__content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.latest-news {
  .container h2 {
    padding: 0 12px;
  }
}
