{{ $images := slice
  (dict "name" "AMD" "src" "/img/logos/amd-logo.svg" "alt" "AMD" "angle" "-10")
  (dict "name" "AWS" "src" "/img/logos/aws-logo.svg" "alt" "AWS" "angle" "0")
  (dict "name" "XenServer" "src" "/img/logos/xenserver-logo.svg" "alt" "XenServer" "scale" "1.1" "angle" "10")
  (dict "name" "EPAM" "src" "/img/logos/epam-logo.svg" "alt" "EPAM" "angle" "0")
  (dict "name" "ARM" "src" "/img/logos/arm-logo.svg" "alt" "ARM" "angle" "-10")
  (dict "name" "VATES" "src" "/img/logos/vates-logo.svg" "alt" "VATES" "angle" "0")
  (dict "name" "HONDA" "src" "/img/logos/honda-logo.svg" "alt" "HONDA" "scale" "1.2" "angle" "5")
  (dict "name" "Renesas" "src" "/img/logos/renesas-logo.png" "alt" "Renesas" "scale" "1.4" "angle" "-5")
}}
{{ partial "images-in-circle.html" (dict "class" "mg-t-lg" "images" $images) }}
