{{ $images := slice
  (dict "name" "AMD" "src" "/img/logos/amd-logo.svg" "alt" "AMD")
  (dict "name" "AWS" "src" "/img/logos/aws-logo.svg" "alt" "AWS")
  (dict "name" "ARM" "src" "/img/logos/arm-logo.svg" "alt" "ARM")
  (dict "name" "EPAM" "src" "/img/logos/epam-logo.svg" "alt" "EPAM")
  (dict "name" "XenServer" "src" "/img/logos/xenserver-logo.svg" "alt" "XenServer" "scale" "1.1")
  (dict "name" "VATES" "src" "/img/logos/vates-logo.svg" "alt" "VATES")
  (dict "name" "HONDA" "src" "/img/logos/honda-logo.svg" "alt" "HONDA" "scale" "1.2")
}}
{{ partial "images-in-circle.html" (dict "class" "mg-t-lg" "images" $images) }}
