:root {
  --home-server-top: -104%;
  --home-hero-padding-bottom: 0; //clamp(170px, 45%, 337px);
}

.home-hero-animated {
  position: relative;
  overflow: hidden;
  padding-bottom: 10%;
  margin-left: calc(var(--content-padding-horizontal) * -1);
  margin-right: calc(var(--content-padding-horizontal) * -1);

  .container {
    padding-left: var(--content-padding-horizontal);
    padding-right: var(--content-padding-horizontal);
  }

  .media-block {
    position: relative;
  }

  .media-block__media {
    position: relative;
    padding: 0 40px;
    align-self: flex-end;
    @include tablet {
      padding: 0;
    }
  }

  .animated-home-screen-container {
    position: relative;
  }

  .animated-home-shadow-screen {
    position: absolute;
    z-index: 1;
  }

  .animated-home-server {
    position: relative;
    margin: 0 auto;
    display: block;
    transform: translateY(100%);
    z-index: 3;
    opacity: 0;
    animation: homeFadeInUp 1s ease forwards;
    animation-delay: 0.5s;
    width: 80%;
    max-width: 600px;
    margin-bottom: 10px;
  }

  .animated-home-screen {
    position: relative;
    z-index: 2;
    animation: homeFadeInTopLeft 0.8s ease forwards;
    animation-delay: 0s;
  }

  .animated-home-shadow-screen {
    padding: 6.2% 7.6% 0;
    top: 25%;
    left: 11%;
    width: 100%;
    transform: translateX(0);
    z-index: 1;
    opacity: 0;
    animation: homeFadeInRight 0.8s ease forwards;
    animation-delay: 0s;
  }
}

.home-section-hero {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: var(--home-hero-padding-bottom);

  .hero-block {
    margin-top: 40px;
  }

  .media-block {
    flex-direction: column;
  }

  @include tablet {
    .media-block {
      flex-direction: row;
    }

    .media-block__content {
      flex-basis: calc(52% - var(--gap));
    }
  }
}

@keyframes homeFadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes homeFadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(var(--home-shadow-screen-left));
  }
}

@keyframes homeFadeInTopLeft {
  from {
    opacity: 0;
    transform: translate(-70px, -70px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
