{{ define "main" }}
  {{ $class := (.Page.Params.class | default "")  | add " page-single " }}
  {{ if .Page.Params.aside }}
    {{ $class = "with-aside " | add $class }}
  {{ end }}

  {{ $asidePosition := .Page.Params.asidePosition | default "before" }}
  {{ if eq $asidePosition "before" }}
    {{ partial "aside.html" . }}
  {{ end }}
  <article class="article">
    {{ if not .Page.Params.hidePageHeader }}
      <div class="container page-top">
        <h1>{{ .Title }}</h1>
        <div class="description">
          {{ .Description }}
        </div>
      </div>
    {{ end }}

    <div class="single-content">
      {{ .Content }}
    </div>
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </article>
  {{ if eq $asidePosition "after" }}
    {{ partial "aside.html" . }}
  {{ end }}

{{ end }}
