*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: var(--color-surface-secondary);
  color: var(--color-text);
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 300;
}

html {
  overflow: auto;
}

body {
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 0.0125em;
}

img {
  max-width: 100%;
}

address {
  font-style: normal;
  display: inline;
}

ul {
  list-style: disc;
  margin-top: var(--sp-sm);
  margin-bottom: var(--sp-sm);
}

li {
  margin-left: 24px;
  margin-top: 4px;

  p:first-child {
    margin-top: 0;
  }
}

a {
  color: var(--color-action-text);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
