.content-markdown {
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: var(--color-text-secondary);
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
  }

  tr {
    &:nth-child(even) {
      background-color: var(--color-surface-secondary);
    }

    &:hover {
      background-color: var(--color-border);
    }
  }

  td {
    &:first-child {
      font-weight: bold;
    }

    &:last-child {
      font-style: italic;
    }
  }
  // Styles responsive
  @media screen and (max-width: 768px) {
    table {
      display: block;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    td,
    th {
      padding: 0.5rem 0.8rem;
    }

    td:last-child {
      white-space: normal;
    }
  }

  h1,
  h2,
  h3 {
    margin-top: 1.5em;
    margin-bottom: 0.8em;
  }
  pre[style] {
    display: block;
  }
  pre code {
    background: var(--color-border);
    color: var(--color-text-secondary);
    display: block;
    padding: var(--sp-sm) var(--sp-lg);
    line-height: 1.4;
    margin-top: var(--sp-sm);
    margin-bottom: var(--sp-sm);
    width: 100%;
    overflow-x: auto;
    white-space: pre-wrap;
  }

  @media (max-width: 600px) {
    p {
      word-break: break-word;
    }
  }
}
