.footer {
  --footer-background: var(--color-text-secondary);
  --footer-links-color: var(--color-surface);
  --footer-text-color: var(--color-surface);
  --footer-title-color: var(--color-brand-fill);
  --footer-menu-cols: auto;
  --footer-padding: 24px 12px;
  --gap: 24px;
  --gap-lg: 40px;

  background: var(--footer-background);
  padding: var(--footer-padding);
  color: var(--footer-text-color);

  @include phone {
    --footer-menu-cols: 2;
  }

  @include tablet {
    --footer-menu-cols: 3;
    --footer-padding: var(--sp-lg) var(--sp-lg);
  }

  h3 {
    color: var(--footer-title-color);
  }

  a {
    color: var(--footer-links-color);
    text-decoration: none;
    font-weight: 500;
  }

  p a {
    @extend .btn;
    @extend .btn-tertiary;
    color: var(--footer-links-color);
  }
}

.footer__text {
  display: flex;
  gap: var(--gap-lg);
  flex-direction: row;
  flex-wrap: wrap;

  > .footer__col {
    min-width: 280px;
    display: flex;
    flex-direction: column;
    gap: var(--sp-sm);
    flex: 1 0;
  }
}

.footer__col {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);

  p {
    margin: 0;
  }

  h2:first-child {
    margin-top: 0;
  }

  .footer__text {
    flex: 0 1 auto;
  }
}

.footer__menu {
  margin-top: var(--sp-lg);
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul {
    display: flex;
    flex: 1 0;
    flex-direction: column;
    gap: 24px;
  }

  > ul {
    display: block;
    column-count: var(--footer-menu-cols);
    column-gap: 40px;
  }

  > ul > li {
    margin-bottom: var(--sp-md);
    break-inside: avoid;
  }

  li {
    font-weight: 700;
  }

  li a {
    display: inline-block;
    color: var(--footer-title-color);
  }

  ul ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
  }
  li li {
    font-weight: 500;

    a {
      @extend .btn-tertiary;
      display: inline-block;
      position: relative;
      flex: 0;
      color: var(--footer-links-color);
      --icon-left: 0;
      vertical-align: middle;
      line-height: 1;
    }
    a:hover {
      --icon-left: 0.6em;
      text-decoration: underline;
      &::before {
        right: 1.6em;
      }
    }

    a:active {
      --icon-left: 0.9em;
    }

    a::after {
      display: inline-block;
      vertical-align: middle;
      font-family: var(--font-family-icons);
      margin-left: 12px;
      transform: translateX(var(--icon-left));
      transition: transform 0.3s ease-in-out;
      content: var(--icon-arrow-right);
    }

    a[target="_blank"]::after {
      content: var(--arrow-up-right-from-square);
    }
  }
}
