.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

.container-full {
  max-width: none;
  padding: 0;
  margin-left: calc(var(--container-paddings) * -1);
  margin-right: calc(var(--container-paddings) * -1);
}

.container-small {
  // --container-width: 1120px;
}

.page-top .description {
  max-width: 700px;
}

section {
  position: relative;
  z-index: 1;
}

.section-space {
  margin-top: var(--section-space);
  margin-bottom: var(--section-space);
}

.block-space {
  margin-top: var(--block-space);
}

.section-row {
  --min-col-width: 380px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1rem);

  > * {
    flex: 1 1 calc(var(--min-col-width));
    min-width: var(--min-col-width);
  }

  > .col {
    display: block;
  }

  .cols-2 {
    --min-col-width: 560px;
  }
}

.cols,
.row {
  display: flex;
  flex-direction: row;
  gap: var(--sp-lg);
  justify-content: space-between;

  .col {
    flex: 1;
  }
}

.row {
  display: flex;
  flex-direction: row;
  --gap: var(--sp-lg);
  gap: var(--gap);
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;

  --min-col-width: 300px;
  > *,
  > .col {
    flex: 1;

    // Ajout de la gestion des colonnes
    @supports (--cols: 0) {
      flex: 1 0 calc((100% / var(--cols)) - var(--gap));
      min-width: calc((100% / var(--cols)) - var(--gap));
    }
  }
}

@for $i from 1 through 5 {
  .cols-#{$i} {
    --cols: #{$i};
  }
}
