.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

.container-full {
  max-width: none;
  padding: 0;
  margin-left: calc(var(--container-paddings) * -1);
  margin-right: calc(var(--container-paddings) * -1);
}

.page-top .description {
  max-width: 700px;
}

section {
  position: relative;
  z-index: 1;
}

.section-space {
  margin-top: var(--section-space);
  margin-bottom: var(--section-space);
}

.block-space {
  margin-top: var(--block-space);
}

.col {
  h2,
  h3,
  h4 {
    &:first-child {
      margin-top: 0;
    }
  }
}

.section-row {
  --min-col-width: 300px;
  @include tablet {
    --min-col-width: 380px;
  }

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1rem);

  > * {
    flex: 1 1 calc(var(--min-col-width));
    min-width: var(--min-col-width);
  }

  > .col {
    display: block;
  }

  .cols-2 {
    --min-col-width: 560px;
  }
}

.cols,
.row {
  display: flex;
  flex-direction: row;
  gap: var(--sp-lg);
  justify-content: space-between;
  flex-wrap: wrap;
  @include phone {
    flex-wrap: nowrap;
  }

  .col {
    flex: 1 1 100%;
    @include phone {
      flex: 1;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  --gap: var(--sp-lg);
  --cols: 3;
  --min-col-width: 300px;
  gap: var(--gap);
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;

  > *,
  > .col {
    flex: 1 1 auto;

    @include phone {
      --basis: calc((100% - (var(--cols) - 1) * var(--gap)) / var(--cols));
      min-width: var(--min-col-width);
      flex: 1 1 var(--basis);
    }
  }
}

@for $i from 1 through 5 {
  @include phone {
    .cols-#{$i} {
      --cols: #{$i};
    }
  }
}
