.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  padding-top: 80px;

  &.has-aside {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  &::before,
  &::after {
    content: "";
    display: table;
  }

  .page-aside {
    min-width: 400px;
    flex: 0 0 400px;

    @media (max-width: 900px) {
      min-width: 100%;
      flex: 1 0 100%;
    }
  }

  .article {
    flex: 1;
    padding: 0 var(--content-padding-horizontal);
    width: 100%;
  }
}
