.btn {
  --border-radius: 0.4em;
  --border-size: 0.125rem;
  --color-active: var(--color-action-fill-pressed);
  --color-disabled: var(--color-border);
  --color-focus: var(--color-action-fill);
  --color-hover: var(--color-action-fill-hover);
  --color-primary: var(--color-action-fill);
  --color-secondary: var(--color-action-on-fill);
  --icon-left: 0em;
  --icon-margin: 0.375em;

  display: inline-block;
  align-items: center;
  position: relative;
  --left-padding: 1em;

  padding: 0.444em calc(2em - var(--left-padding)) 0.444em var(--left-padding);
  font-size: 1.125rem;
  letter-spacing: 0.00555555em;
  line-height: 1.2;
  text-decoration: none;

  background: var(--color-primary);
  border: var(--border-size) solid var(--color-primary);
  border-radius: var(--border-radius);
  color: var(--color-secondary);
  cursor: pointer;

  transition:
    background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out,
    padding-left 0.3s ease-in-out,
    padding-right 0.3s ease-in-out;

  @include tablet {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
  }

  &-primary::after,
  &-secondary::after {
    --space: 0.375rem;
    content: "";
    position: absolute;
    inset: calc(var(--space) * -1);
    border: 0.125rem solid var(--color-primary);
    border-radius: var(--border-radius);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 100;
  }

  // button icon
  .fas,
  &-tertiary::after {
    transform: translateX(var(--icon-left));
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none !important;
    margin-left: var(--icon-margin);
  }

  // States
  &:focus::after,
  &.focus::after {
    opacity: 1;
  }

  &:hover,
  &.hover,
  body .card:not(:has(.card__actions a:nth-child(2))):hover & {
    --color-primary: var(--color-hover);
    --icon-left: 0.3em;
  }

  &:active,
  &.active {
    --color-primary: var(--color-active);
    --icon-left: 0.6em;
  }

  &:focus,
  &.focus {
    --color-primary: var(--color-focus);
  }

  &:disabled,
  &.disabled {
    --color-primary: var(--color-disabled);
  }

  &-secondary,
  &-tertiary {
    background-color: #fff;
    color: var(--color-primary);
  }

  &-primary,
  &-secondary {
    text-decoration: none !important;
  }

  &-tertiary {
    --padding: 2px;
    position: relative;
    padding: var(--padding);
    background-color: transparent;
    border: none;
    --decal: 0.2em;

    &:hover {
      text-decoration: none;
    }

    &::before {
      content: "";
      position: absolute;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: var(--padding);
      right: var(--padding);
      background-color: currentColor;
      transition: transform 0.25s ease-out;
      transform-origin: bottom left;
    }

    &:has(.fas) {
      --icon-width: 0.9em;
    }
    &:has(.fa-arrow-right),
    &:has(.fa-arrow-up-right-from-square) {
      --icon-width: 0.85em;
    }

    &:has(.fas)::before {
      right: calc(var(--icon-width) + var(--icon-margin) + var(--decal) + var(--padding));
    }

    &:hover::before,
    body .card:not(:has(.card__actions a:nth-child(2))):hover &::before {
      transform: scaleX(1);
    }
  }
}

@media (max-width: 600px) {
  .container,
  .mg-t-md {
    &:has(> .btn ~ .btn) {
      display: flex;
      flex-direction: column;
      gap: var(--sp-sm);
      align-items: center;

      > .btn {
        margin: 0;
      }
    }
  }
}
