// CSS Custom Properties
:root {
  --feature-border-radius: 8px;
  --feature-padding: 1.5rem;
  --features-columns-count: 1;
  --feature-item-title-font-size: 2rem;
  --feature-item-title-gap: 0.5rem;

  @include tablet {
    --features-columns-count: 2;
    --feature-item-title-font-size: 2.5rem;
    --feature-item-title-gap: 1.3rem;
  }

  @include desktop {
    --features-columns-count: 3;
  }

  .features-list--cols-2 {
    --features-columns-count: 2;
  }

  .features-list--cols-3 {
    --features-columns-count: 3;
  }

  .features-list--cols-4 {
    --features-columns-count: 4;
  }
}

// Mixins
@mixin flex-center {
  display: flex;
  align-items: flex-start;
}

// Features List Component
.features-list {
  --gap: var(--sp-sm-lg);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  list-style: none;
  margin: 0;
  padding: 0;

  @include tablet {
    --gap: var(--sp-lg);
  }

  // List items
  li {
    --li-width: calc(100% / var(--features-columns-count) - var(--gap));
    margin: 0;
    flex: 1 1 var(--li-width);
    min-width: 240px;

    @include tablet {
      min-width: 300px;
    }
  }

  //
}

// Feature Item Component
.feature-item {
  padding: var(--feature-padding);
  border-radius: var(--feature-border-radius);
  border-radius: 16px;
  background: var(--color-brand-surface);
  padding: 40px;

  &-content {
    flex: 1;
  }

  // Icon styles
  &__icon {
    display: flex !important;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    border-radius: 100px;
    border: 2px solid var(--color-surface);
    color: var(--color-surface);
    background: var(--Crazy-Green-to-blue, linear-gradient(90deg, #85c241 0%, #3199cc 100%));
    box-shadow:
      0px 11px 15px 0px rgba(71, 84, 103, 0.1),
      0px 9px 46px 0px rgba(71, 84, 103, 0.06),
      0px 24px 38px 0px rgba(71, 84, 103, 0.04);
    font-size: 1.5rem;
  }

  // Title styles
  &__title {
    display: flex;
    gap: var(--feature-item-title-gap);
    font-size: var(--feature-item-title-font-size);
    font-weight: 500;
    color: var(--color-action-fill);
    margin: 0 0 1.05rem;
    padding-bottom: 0.28em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  // Paragraph styles
  p {
    font-size: 1.2rem;
    color: var(--color-text);
    margin: 0;
    line-height: 1.5;
  }
}
