.hero-block {
  --margin-top: var(--sp-xs);
  --margin-bottom: var(--sp-xxl);

  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
  --title-font-size: clamp(1.3rem, 1.3rem + 2vw, 4rem);

  @include tablet {
    --margin-top: var(--sp-xxxl);
    --margin-bottom: var(--sp-sm);
  }

  .media-block__title {
    font-size: var(--title-font-size);
  }
}

.title-with-gradient-underline {
  strong {
    --underline-height: 0.07em;
    display: block;
    white-space: nowrap;
    position: relative;

    background: linear-gradient(90deg, #07c 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: no-repeat;
    background-size: 0% var(--underline-height);
    background-position: bottom left;
    padding-bottom: calc(var(--underline-height) - 0.02em);
    animation: backgroundSizeAnimation 1s ease-in-out forwards;
    animation-delay: 1s;
  }

  @keyframes backgroundSizeAnimation {
    0% {
      background-size: 0% var(--underline-height);
    }
    100% {
      background-size: 100% var(--underline-height);
    }
  }
}
