.media-block {
  --content-gap: var(--sp-sm);
  --media-h-padding: 0;
  --media-v-padding: 0;
  --gap: 20px;
  --media-block-min-width: 296px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  position: relative;

  @include phone {
    --media-block-min-width: 320px;
  }

  @include tablet {
    --gap: 60px;
    --media-h-padding: clamp(20px, 2%, 40px);
    --media-v-padding: 0;
  }

  @include desktop {
    --media-h-padding: clamp(20px, 5%, 70px);
    --gap: 80px;
  }

  &:has(.youtube-video-container),
  &:has(.slide-container),
  &:has(.slideshare-container),
  &:has(video) {
    --media-h-padding: 0 !important;
  }
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 50%;
  //   width: 1px;
  //   height: 100%;
  //   background-color: red;
  //   transform: translateX(-50%);
  // }

  &.image-small {
    .media-block__media {
      --media-h-padding: 30%;
    }
  }

  @include tablet {
    &.media-block--right {
      flex-direction: row;
      &[data-animate] .media-block__media {
        opacity: 0;
      }
    }
  }

  &__label {
    font-size: 1rem;
    color: var(--color-action-text);
    letter-spacing: -0.00125em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 80%;
  }

  &__content,
  &__media {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__media {
    flex: 1 0 calc(50% - var(--gap));
  }

  &__content {
    align-items: flex-start;
    letter-spacing: 0.00625em;
    gap: var(--content-gap);
    line-height: var(--content-line-height);

    .media-block__title {
      margin: 0;
    }
  }

  &__media {
    min-width: var(--media-block-min-width);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--media-v-padding) var(--media-h-padding);

    .youtube-video-container,
    video {
      width: 100%;
    }

    video {
      height: auto;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

/* animations */
.media-block {
  &--right.animate .media-block__media {
    animation: slideFromRight 0.8s ease-out forwards;
    animation-delay: var(--animation-delay);
  }

  &--left.animate .media-block__media {
    animation: slideFromLeft 0.8s ease-out forwards;
    animation-delay: var(--animation-delay);
  }

  &[data-animate] .media-block__media {
    opacity: 0;
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
