.section-square-primary {
  background-color: var(--color-brand-surface);
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  padding: 24px 12px;
  border-radius: 24px;

  @include tablet {
    padding: var(--sp-xl) var(--sp-lg);
  }
}
