.section-square-rounded {
  background-color: #fff;
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  padding: 24px 12px;

  @include tablet {
    padding: var(--sp-xl) var(--sp-lg);
  }
}
