.vertical-lists {
  --cols: 4;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  --gap: var(--sp-md);
  gap: var(--sp-lg) var(--gap);
  margin-top: var(--sp-md);

  @media (max-width: 600px) {
    --cols: 1 !important;
  }

  .list-column {
    --basis: calc((100% - (var(--cols) - 1) * var(--gap)) / var(--cols));
    flex: 1 1 var(--basis);
    word-break: break-word;
    overflow-wrap: break-word;
    //flex-basis: calc((100% / var(--cols)) - var(--sp-md));
  }
}

.list-column {
  --border-left: 2px solid var(--color-brand-fill);
  padding-left: var(--sp-sm-md);
  //border-left: var(--border-left);

  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  *:first-child {
    margin-top: 0;
  }

  &--sublists {
    border-left: none;
    padding-left: 0;

    > ul {
      margin-left: 0;
    }

    ul {
      margin-top: var(--sp-sm-md);
    }

    ul li {
      border-left: none;
      margin-top: var(--sp-sm-md);
    }

    ul ul {
      border-left: var(--border-left);
      margin-left: var(--sp-md);
      padding-left: var(--sp-sm);
      padding-right: var(--sp-sm);
    }
  }

  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 1em;
  }
}
