h1 {
  color: #cd840f;
  border-bottom: 2px solid #d1c8bd;
}

.spacing-example {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.spacing-example-text {
  flex-basis: 130px;
}

.spacing-example-bar {
  background: lightcoral;
  height: 50px;
}

.story-image-gallery_toolbar {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem !important;
  align-items: center;

  input[type="search"] {
    padding: 0.5rem;
  }

  button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 4px;

    &.active {
      background-color: rgb(197, 196, 196);
    }
  }
}

.story-image-gallery {
  margin-top: 2rem !important;
  .story-image-gallery_td img {
    width: 100%;
    border: 1px solid #ccc !important;
  }

  &.mosaic {
    --gap: 1rem;
    .story-image-gallery_table {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: stretch;
      gap: var(--gap);
    }
    .story-image-gallery_head {
      display: none !important;
    }

    .story-image-gallery_tr {
      flex: 0 0 calc(100% / 3 - var(--gap));
      display: flex;
      flex-direction: column;

      .story-image-gallery_td:nth-child(1) {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
      }

      .story-image-gallery_td {
        text-wrap: wrap;
        word-wrap: break-word;
      }
    }
  }

  &.list {
    .story-image-gallery_table {
      display: table;
    }
    .story-image-gallery_tr {
      display: table-row;
    }
    .story-image-gallery_th  {
      font-weight: bold;
    }
    .story-image-gallery_th,
    .story-image-gallery_td {
      display: table-cell;
      padding: 0.5rem;
      vertical-align: middle;
    }

    img {
      max-width: 300px;
    }
  }
}

.story-row {
  --max-width: 300px;
  --cols: 2;

  display: flex;
  gap: 24px;
  flex-direction: column;
  flex: 0 auto;

  > * {
    flex: 1 0 calc((100% / var(--cols) - (var(--cols) - 1) * 24px));
    max-width: var(--max-width);
  }

  &.cols-1,
  &.cols-2,
  &.cols-3,
  &.cols-4 {
    --max-width: none;
  }

  &.cols-2 {
    --cols: 2;
  }

  &.cols-3 {
    --cols: 3;
  }

  &.cols-4 {
    --cols: 4;
  }

  @media (min-width: 500px) {
    flex-direction: row;
    --cols: 3;
  }
}

.token.tag {
  padding: 0;
  border-radius: 0;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  letter-spacing: normal;
}
