.story-shadow {
  position: relative;
  cursor: pointer;
  flex-basis: 40%;

  code {
    background: none;
    display: block;
    border: 0;
    margin-top: 1em;
    font-size: 12px;
    font-family: monospace;
  }

  .copied {
    position: absolute;
    top: 0;
    width: 100%;
    color: var(--color-green);
  }
}

.shadow-list {
  gap: 100px 20px;
}
