{{ define "main" }}
  {{ $papers := where site.Data.papers "id" .File.ContentBaseName }}
  {{ $paper := index $papers 0 }}

  {{ $asidePosition := .Page.Params.asidePosition | default "before" }}
  {{ if eq $asidePosition "before" }}
    {{ partial "aside.html" . }}
  {{ end }}


  <div class="uno-section">
    <article class="uno-flex uno-flex-col uno-gap-6">
      {{ if not $paper }}
        <div class="uno-text-center">
          <h1 class="uno-text-4xl uno-font-bold uno-mb-4">Paper Not Found</h1>
          <p class="uno-text-lg">No paper matches ID: {{ .File.ContentBaseName }}</p>
        </div>
      {{ else }}
        <div class="">
          <h1 class="uno-text-4xl uno-font-bold uno-mb-4 uno-text-action-text uno-mt-0">{{ $paper.title }}</h1>
          <div class="uno-text-lg uno-mb-6">
            {{ if $paper.abstract }}
              <p><strong>Abstract:</strong> {{ $paper.abstract }}</p>
            {{ end }}
          </div>
        </div>

        <div class="uno-text-lg uno-leading-8">
          <strong>Authors:</strong> {{ delimit $paper.authors ", " }}
        </div>

        <div class="uno-text-lg uno-leading-8">
          <strong>Year:</strong> {{ $paper.year }}
        </div>

        <div class="uno-text-lg uno-flex uno-flex-wrap uno-gap-2 uno-items-center">
          <div class="uno-font-semibold">Tags:</div>
          {{ range $paper.tags }}
            <div class="uno-px-2 uno-py-1 uno-rounded-lg uno-bg-brand uno-text-secondary">{{ . }}</div>
          {{ end }}
        </div>

        {{ if $paper.url }}
          <div data-component="IconButton" data-href="{{ $paper.url }}" data-target="_blank">Read the Full Paper</div>
        {{ end }}
      {{ end }}
    </article>
  </div>

  {{ if eq $asidePosition "after" }}
    {{ partial "aside.html" . }}
  {{ end }}
{{ end }}
