{{- $page := .page -}}
{{- $isFooter := .isFooter | default false -}}
{{- range .menuEntries -}}
  {{- $header := .Params.header | default true -}}
  {{- $footer := .Params.footer | default true -}}

  {{- $shouldDisplay := or (and $isFooter $footer) (and (not $isFooter) $header) -}}
  {{- if $shouldDisplay -}}
    <li>
      {{- $attrs := dict "href" .URL -}}
      {{- if .Params.target -}}{{- $attrs = merge $attrs (dict "target" .Params.target) -}}{{- end -}}
      {{- if $page.IsMenuCurrent .Menu . -}}{{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") -}}
      {{- else if $page.HasMenuCurrent .Menu . -}}{{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") -}}{{- end -}}
      {{- $name := .Name | safeHTML -}}
      {{- with .Identifier -}}{{- with T . -}}{{- $name = . | safeHTML -}}{{- end -}}{{- end -}}
      <a{{- range $k, $v := $attrs -}}{{- with $v }} {{ printf "%s=%q" $k $v | safeHTMLAttr }}{{- end -}}{{- end -}}>{{ $name }}</a>
      {{- with .Children }}<ul>{{ partial "menu/walk.html" (dict "page" $page "menuEntries" . "isFooter" $isFooter) }}</ul>{{- end -}}
    </li>
  {{- end -}}
{{- end -}}