.margin-gallery {
  strong {
    font-weight: bold;
  }
  .margin-gallery__visual {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
  }

  .margin-gallery__visual__item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .margin-gallery__visual__item__label {
    width: 50px;
  }

  .margin-gallery__visual__item__content {
    height: 32px;
    background: var(--color-purple);
  }

  .fixed td {
    white-space: nowrap;
  }
}
