.align-flex-start {
  align-items: flex-start;
}

.full-width-img {
  width: 100%;
}

img.rounded-corners,
.rounded-corners img {
  border-radius: 16px;
}
.small-image,
.medium-image,
.large-image {
  max-width: 100%;
}

.small-image {
  max-width: 300px;
}

.medium-image {
  max-width: 500px;
}

.large-image {
  max-width: 800px;
}

.w-100 {
  width: 100%;
}
