.story-copy-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  color: #333;

  &-container {
    position: relative;
    display: inline-block;
  }

  &:hover {
    color: #000;
  }

  svg {
    vertical-align: middle;
  }

  &_tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: #333333d4;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    --transition-time: 0.5s;
    transition:
      opacity var(--transition-time) ease-in-out,
      visibility var(--transition-time) ease-in-out;

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }
}
